@charset "UTF-8";

*{
	margin:0px;
	padding:0px;
	list-style:none;
	text-decoration:none;
	display:none;
	box-sizing:border-box;
}

.fadein{
	opacity:0;
	transform : translate(0, 100px);
    transition : all 1s;
}

.fadein.active{
	opacity:1;
	transform : translate(0, 0);
}

#global-navi{
	display:flex;
	background-color: rgba(0, 87, 102, 0.9);
	color:white;
	height:50px;
	line-height:50px;
	position:fixed;
	top:0px;
	z-index:10;
	justify-content: center;
}

#global-navi ul{
	display:flex;
	width:100%;
}

#wrapper nav ul li{
	margin-left:90px;
	flex:auto;
}

.nav-bar a{
	color:white;
}

@media(min-width: 600px){
#global-navi{
	width:100% !important;
	right:0px !important;
}
}

@media(max-width: 600px){
#wrapper nav {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    padding-top: 50px;
    background:#333;
    font-size: 16px;
    z-index: 2
 }

#global-navi ul{
	display:block;
}

#global-navi ul li {
    display:block;
}

#global-navi ul li a {
    text-decoration: none;
    color: #ddd
}

#wrapper .btn-gnavi {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 24px;
    z-index: 3;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: all 400ms;
    transition: all 400ms
}

#wrapper .btn-gnavi span {
    position: absolute;
    width: 30px;
    height: 4px;
    background: #666;
    border-radius: 10px;
    -webkit-transition: all 400ms;
    transition: all 400ms;
    background-color:rgba(0, 87, 102, 0.9);
}

#wrapper .btn-gnavi span:nth-child(1) {
    top: 0
}

#wrapper .btn-gnavi span:nth-child(2) {
    top: 10px
}

#wrapper .btn-gnavi span:nth-child(3) {
    top: 20px
}

#wrapper .btn-gnavi.open {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

#wrapper .btn-gnavi.open span {
    background: #fff
}

#wrapper .btn-gnavi.open span {
    width: 24px;
}
#wrapper .contents section p {
    position: absolute;
    top: 50%;
    width: 30%;
    line-height: 1.4;
    font-size: 20px;
    color: #fff;
    text-shadow: 0 0 6px #666
}

#wrapper .contents section:nth-child(odd) p {
    left: 10%
}

#wrapper .contents section:nth-child(even) p {
    right: 10%
}
}

.top-wrapper{
	background-image:url(top.banner.jpg);
	background-size:cover;
	opacity:1;
	height:650px;
	flex-direction:column;
    justify-content: center;
    align-items: center;
    color:white;
    display:flex;
}


.top-wrapper h1 span{
    text-align:center;
    margin-left:100px;
}

.top-wrapper a{
	color:white;
	background-color:#f77c00;
	text-align:center;
	line-height:50px;
	width:140px;
    height:50px;
    border-radius: 4px;
    margin-top:15px;
}

.main-wrapper{
	text-align:center;
}

.section{
	margin-top:150px;
	padding-top:150px;
}

.contact{
	margin-bottom:100px;
}

.sub-title{
	font-size:20px;

}

.profile h2{
	font-size:50px;
}

.two-column-wrapper{
	display:flex;
	flex-wrap:nowrap;
	margin:0 auto;
	width:85%;
}

@media(max-width: 600px){
.two-column-wrapper{
	flex-wrap:wrap;
}
}

.profile-img{
	border-radius:50%;
	width:80%;
}

.profile-text{
	text-align: left!important;
	margin-top:150px;
}

.text{
	font-size:14px;
	margin-top:0px;
}

.card-wrapper{
	display:flex;
	flex-wrap:wrap;
	width:80%;
	margin:0 auto;
	padding:20px 0;
	-webkit-box-pack: justify;
	justify-content:space-between;
}

.card{
	flex-basis: 40%;
	margin-bottom: 50px;
	display: flex;
	flex-wrap: nowrap;
	-webkit-box-pack: justify;
	justify-content: space-between;
	flex-direction: column;
	background-color: white;
	border: 1px solid rgba(0,0,0,.125);
	border-radius:10px;
}


@media(max-width: 600px){
.card{
	flex-basis:100%;
}
}

.skill-desc{
	text-align:center;
}

.skill-desc-title{
	font-size:24px;
	padding:20px;
	border-bottom:2px solid whitesmoke;
}

.skill-desc p{
	margin-bottom:10px;
}

.skill{
	width:100%;
	margin-bottom:1rem;
}

th {
    padding: 20px;
}

.rate{
	position: relative;
    display: inline-block;
    width: 110px;
    height: 20px;
    font-size: 20px;
}

.rate:before{
	color: #ddd;
}

.rate:before, .rate:after{
	position: absolute;
    top: 0;
    left: 0;
    content: '★★★★★';
    display: inline-block;
    height: 20px;
    line-height: 20px;
}

.rate:after{
	color: #808080;
    overflow: hidden;
    white-space: nowrap;
}

.rate4:after{
	width:80px;
}

.rate3:after{
	width:60px;
}

.rate2:after{
	width:40px;
}

.rate1:after{
	width:20px;
}

@media(max-width: 600px){
	.work{
		flex-direction : column;
		margin-left:0!important;
	}
	.sample,.portfolio-site img,.fortune-site img{
		width:360px !important;
		margin-bottom:20px;
	}
}

.work{
	display:flex;
	justify-content: center;
}

.work img{
	display:block;
}

.portfolio-site{
	margin-right:200px;
}

td{
	padding:0 15px;
	text-align: left;
}

.image{
	display:flex;
}

@media(max-width: 600px){
	.image{
	flex-direction : column;
}
	.sample2,.image img{
	width:360px !important;
	}
	.other{
	font-size:14px !important;
	margin:10px 0 0 10px !important;
}
}

.sample{
	width:400px;
}

.sample2{
	margin-top:50px;
	width:800px;
}

.lp-site{
	margin-top:50px;
	flex-direction : column;
}

.other{
	font-size:16px;
	text-align:left;
	margin:50px 0 0 80px;
}

.other li{
	list-style: inside;
}

footer{
	background-color:rgba(0, 87, 102, 0.9);
	height:100px;
	line-height:50px;
}

.footer-link ul{
	display:flex;
	justify-content: center;
}

.footer-link li{
	margin-right:30px;
	margin-left:20px;
}

.footer-link a{
	color:white;
	font-size:10px;
}

.copyright{
	text-align:center;
	font-size:10px;
	color:white;
}
